table {
    border: 3px solid black;
    border-collapse: collapse;
    margin: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

td {
    text-align: center;
    color: #333;
    font-size: 18px;
    border-bottom: 4px solid black;
}

.segunda-tabla tr td {
    padding-left: 89px;
    padding-right: 89px;
    padding-bottom: 20px;
    text-align: center;
}