/* Reset y base */
/* box-sizing: para que tenga en cuenta el padding y el margin en el tamaño total */
* {
    box-sizing: border-box;
}

/* Establercemos altura completa de página */
html, body  {
    height: 100%;
}

/* Configuración general del body */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
}

/* Entramos y rellenamos la cabecera */
.cabecera {
    text-align: center;
    padding: 1rem;
}

/* Zona principal (main): aplicamos relleno */
#contenido-principal {
    padding: 1rem;
}

/* Titulo de la cabecera sin margenes extra y color destacado */
.titulo {
    margin: 0;
    color: #2C3E50;
}

/* Clase "tarjeta": usado para agrupar secciones visualmente */
.tarjeta {
    background: #fff;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
    border: 3px solid #c2a9a9;
}

/* Listas en dos columnas: usamos flexbox para alinear dos elementos en horizontal */
.listas {
    display: flex;         /* Contenedor flexible */
    flex-direction: row;   /* Los items se colocan en fila */
    gap: 2rem;             /* Hueco entre columnas */
    flex-wrap: wrap;       /* Permite saltar a la siguiente linea en pantallas pequeñas */
    /* flex-flow: row wrap; */
}

/* Ajustes visuales de las listas */
.lista {
    padding-left: 20px;     /* Espacio para las viñetas */

}

.lista li {
    margin: 0.50rem 0;     /* Espacio vertical entre los elementos de las listas */
}

/* Tabla
    -width: ocupe todo el ancho
    -border-collapese: unir los bordes internos
 */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Estilo pie de página */
.pie {
    text-align: center;
    color: #7F8C8D;
    font-size: 14px;
    background: #dde0e0;    
    padding: 1rem;
}
