/* Reset y base */
/* box-sizing: para que tenga en cuenta el padding y el margin en el tamaño total */
* {
    box-sizing: border-box;
}

/* Establercemos altura completa de página */
html, body  {
    height: 100%;
}

/* El body se convierte en contenedor flex
    - flex-direction: column -> apila verticalmente el header, main y footer
    - min-height: 100vh -> ocupa toda la altura de la ventana (vh  =  viewport heigh) */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   /* Altura total del viewport */
}

/* Entramos y rellenamos la cabecera */
/* Cabezera con flex: dos zonas -> logo/titulo (marca) y menú (nav)*/
.cabecera {
    text-align: center;
    padding: 1rem;
    display: flex;
    color: #fff;
    background: #2C3E50;
    justify-content: space-between;     /* Posiciona brand izq. y nav derecha */
    align-items: center;        /* Centra verticalmente */
}

/* Tamaño de la imagen (logo) */
.logo {
    height: 100px;
    width: auto;
}

/* Zona principal (main): aplicamos relleno */
#contenido-principal {
    padding: 1rem;
    flex-grow: 1;       /* Empuja al footer */
    display: flex;      /* Convierto al main como contenedor flexible */
    flex-direction: column;
    gap: 1rem;
}

/* Titulo de la cabecera sin margenes extra y color destacado */
/* .titulo {
    margin: 0;
    color: #2C3E50;
} */

/* Menú de navegación con flex */
.menu {
    list-style-type: none;
    display: flex;          /* Para colocar los enlaces en linea */
    flex-direction: row;           /* Por defecto es row, por tanto podemos prescindir de esta línea */
    gap: 1.5rem;        /* Espacio entre enlaces */
    margin: 0;
    padding: 0;

}

.menu a {
    color: #fff;
    text-decoration: none;      /* Elimina el subrayado */
    font-weight: bold;      /* Aplica negrita a los enlaces */
}

/* Efecto hover en enlaces  */
.menu a:hover {
    color: #2C3E50;
    background-color: white;
    padding: 7px;
}

/* Clase "tarjeta": usado para agrupar secciones visualmente */
.tarjeta {
    background: #fff;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

/* Listas en dos columnas: usamos flexbox para alinear dos elementos en horizontal */
.listas {
    display: flex;         /* Contenedor flexible */
    flex-direction: row;   /* Los items se colocan en fila */
    gap: 2rem;             /* Hueco entre columnas */
    flex-wrap: wrap;       /* Permite saltar a la siguiente linea en pantallas pequeñas */
    /* flex-flow: row wrap; */
}

/* Ajustes visuales de las listas */
.lista {
    padding-left: 20px;     /* Espacio para las viñetas */

}

.lista li {
    margin: 0.50rem 0;     /* Espacio vertical entre los elementos de las listas */
}

/* Tabla
    -width: ocupe todo el ancho
    -border-collapese: unir los bordes internos
 */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Bordes y relleno de la tabla */
.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabezera de la tabla con estilo diferenciado */
.tabla th {
    background: #2C3E50;
    color: #fff;
    text-align: center;
}

/* Contenido de talba alineado a la izquierda */
.tabla td {
    text-align: left;
    white-space: nowrap; /* Evita saltos de linea en celdas */
}


/* Estilo pie de página */
.pie {
    text-align: center;
    color: #7F8C8D;
    font-size: 14px;
    background: #dde0e0;    
    padding: 1rem;
}

/* Formularios */
input.valid {
    border: 3px solid green;
}

input.inalid {
    border: 3px solid red;
}

label {
    padding-bottom: 1px;
}

input {
    margin: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #2C3E50;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.imagentarjeta {
    width: auto;
    height: 60%;
    
}

fieldset {
    margin: 10px;
}

.fonm-registro {
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    flex-direction: column;  
    gap: 10px;
    color: firebrick;
    margin: 0;


}

.fonm-fila {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0.5rem;
}

.form-fila, label { 
    font-weight: bold;
}

button[type="submit"] {
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
