
/* Texto DATOS TRABAJADORES en rojo */ 
#dt {
    color: red;
}

#t1 {
    color: blue;
    text-align: center; 
    
}
/* Texto en verde y alineado al centro */ 
#t2 {
    color: green;
    text-align: center;
}

/* Seccion del Trabajador en bordes normales */ 

.trabajador {
    border: 2px solid black;
}

/* Seccion del Trabajador en bordes dobles */ 

.trabajador2 {
    border: 6px double black;
}

/* Fondo gris y con padding */ 

.borde {
    background-color: gray;
    padding: 1%;
}

/* Texto subrayado */ 

span {
    text-decoration: underline;
}
