/* Hecho por José María Salazar Gómez */

/* Header de la pagina y contenido estilado */

.cabezera {
    display: flex;
    justify-content: center;   
    align-items: center;                   
    padding: 1rem;   
    margin: 0;
}


.cabezera img {
    width: 300px;
    height: 110px;
    object-fit: cover; 
}

/* Cuerpo de la pagina y contenido estilado */

.cuerpo-de-la-pagina, html {
    height: 100%;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.contenido-principal {
    padding: 2rem;
    flex: 1;
}

.formulario fieldset {
    border-color: darkgoldenrod;
    color: firebrick;
    border-radius: 7px;
    width: 400px;
    background-color: #F4F1ED;
}

.formulario legend {
    color: darkblue;
    font-weight: bold;
}

.elemento-formulario {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin: 20px;
    align-items: center;
}

#subir-imagen {
    flex-direction: column;
    align-items: baseline;
}

#botones {
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Pie de pagina y su contenido estilado*/

.pie-de-pagina {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

.pie-de-pagina h3 {
    color: #f7c600;
}

.pie-de-pagina a {
    color: white;
    text-decoration: none;
}

.pie-de-pagina img {
    height: 48px;
    width: 48px;
}